::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background: #3c3c3c; /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scroll thumb on hover */
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 30%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 70%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow:auto;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    transform: scale(0.);
}

.page {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainbox {
    background-image: url("/languagewebpage/images/empty-blackboard.png");
    display:flexbox;
    flex-grow: 0;
    flex-shrink: 0;
    height: 90rem;
    width: 650px;
    border-radius: 40px;
    margin-top: 0;
    box-shadow: 5px 5px 10px 10px rgba(255, 255, 255, 0.432);
    
}
.box1 {
    width: auto;
    height: 25%;
    background-color: transparent;
    border-bottom: 5px dotted black;
    margin-left: 0px;
    display:grid;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    font-size: 30px;
}

.text1 {
    margin-top: 20px;
    margin-bottom: -50px;
}

.text4 {
    color:black;
    margin-bottom: 0;
}

/* flag part of everything*/
.allflags {
    display:grid;
    grid-template-columns: 50% 50%;
    margin-left: 0px;
    margin-top: 50px;
    
}
.flag {
    width: 150px;
    height: 150px;
    transition: transform .2s;
}

.flag:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* iphone and small devices */
@media only screen and (max-width: 428px) {
    .mainbox {
        width: 400px;
    }
    .flag {
        width: 105px;
        height: 105px;
    }
}
@media only screen and (min-width: 428px) and (max-width: 980px) {
    .mainbox {
        width: 500px;
    }
    .flag {
        width: 150px;
        height: 150px;
    }
}