* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* box thingy */

.mainbox {
    width: 1500px;
    display: flex;
    height: 850px;
    background-color: aqua;
    border-radius: 30px;
    box-shadow: 1px 1px 50px;
}

/* welcome page box */
.welcomesec {
    display: flex;
    flex-direction: row;
    margin: 80px;
}

.sphere {
    height: 100px;
    width: 100px;
    border-radius: 80px;
    background-color: darkblue;
}

.text {
    font-size: 40px;
    margin: 20px;
}

/* random links si info */
.description {
    width: 500px;
    height: 200px;
    background-color: darkcyan;
    display: flex;
    border-radius: 50px;
    
}