@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Mako&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #f5f5f5;
}

.kavoon-regular {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 50px;
    margin-top: 30px;
}

.mako-regular {
    font-family: "Mako", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
/* start of everything*/

/* head mobile*/
header {
    height: 100px;
    width: 100%;
    background-color: #003366;
}

header img {
    float: left;
    width: 85px;
    height: 75px;

    margin: 10px;
    cursor: pointer;
}

header .menu {
    width: 65px;
    height: 50px;

    float:right;
    margin: 20px;
}

/* main section */
.mainsection {
    width: 100%;
}

/* head mobile*/
footer {
    height: fit-content;
    padding-bottom: 30px;
    width: 100%;

    background-color: #003366;
    margin-top: 80px;
    padding-top: 40px;
}


/* Contact Item */
.contact-item {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
}

.contact-item a {
    color: white;
    font-size: clamp(30px, 5vw, 40px);
    text-align: left;
}
.contact-item .contactimg {
    margin-right: 25px;
    width: 80px;
    height: 80px;
}

span:hover, a:hover {
    cursor: pointer;
    color: rgb(141, 141, 141);
}

a {
    text-decoration: none;
    color: black;
}
/* Social Icons */
.social-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.social-icons .socialic {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons .socialic:hover {
    transform: scale(1.2);
}

.icon {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
}