@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Mako&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    text-align: center;
    overflow: auto;
    background-color: #f5f5f5;
}

.kavoon-regular {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 50px;
    margin-top: 30px;
}

.mako-regular {
    font-family: "Mako", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
/* start of everything*/

/* head mobile*/
header {
    height: 100px;
    width: 100%;
    background-color: #003366;
}

header img {
    float: left;
    width: 85px;
    height: 75px;

    margin: 10px;
    cursor: pointer;
}

header .menu {
    width: 65px;
    height: 50px;

    float:right;
    margin: 20px;

    position: relative;
    z-index: 9999;
}

/* menu mobile */
.backgroundb {
    background-color: rgba(0, 0, 0, 0.607);
    width: 100%;
    height: 100vh;
    position: fixed;
}

.sidebar {
    width: 75%;
    min-width: 260px;
    max-width: 490px;

    height: 100%;
    background-color: #003366;

    float:right;
    position: fixed;
    top: 0;
    right: 0;
}


.sidebar img {
    all: unset;
    width: 80%;
    margin-top: 125px;
}

.button {
    background-color: #1E90FF;
    color: white;

    border: none;
    border-radius: 15px;

    font-family: "Itim", serif;
    font-size: clamp(40px, 10vw, 60px);

    min-width: 225px;
    max-width: 550px;
    width: 80%;

    height: 5vh;
    min-height: 50px;
    max-height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.button:hover {
    cursor: pointer;
    background-color: #115ba5;
    color:rgb(254, 236, 201);
}

.sidebar ul li {
    margin: 50px 0;
}

.buttonsmall {
    background-color: #1E90FF;
    color: white;

    border: none;
    border-radius: 15px;

    font-family: "Itim", serif;
    font-size: clamp(40px, 10vw, 60px);

    min-width: 80px;
    max-width: 80px;
    width: 15vw;

    height: 5vh;
    min-height: 70px;
    max-height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.question {
    background-image: url("/pcclinicwebpage/images/faq.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

    width: 70%;
    height: 80%;
    margin: auto;
}

.moon {
    background-image: url("/pcclinicwebpage/images/moon.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

    width: 70%;
    height: 80%;
    margin: auto;
}

.sun {
    background-image: url("/pcclinicwebpage/images/moon.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

    width: 70%;
    height: 80%;
    margin: auto;
}


/* main section */
.mainsection {
    width: 100%;
}

/* head mobile*/
footer {
    height: fit-content;
    padding-bottom: 30px;
    width: 100%;

    background-color: #003366;
    margin-top: 80px;
    padding-top: 40px;
}


/* Contact Item */
.contact-item {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
}

.contact-item a {
    color: white;
    font-size: clamp(30px, 5vw, 40px);
    text-align: left;
}
.contact-item .contactimg {
    margin-right: 25px;
    width: 80px;
    height: 80px;
}

span:hover, a:hover {
    cursor: pointer;
    color: rgb(141, 141, 141);
}

a {
    text-decoration: none;
    color: black;
}
/* Social Icons */
.social-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.social-icons .socialic {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons .socialic:hover {
    transform: scale(1.2);
}

.icon {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
}