::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #3c3c3c;
}

::-webkit-scrollbar-thumb {
  background: #5f51ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #0800ff;
}

body {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  overflow: auto;
  
}

/* header */
header {
  width: 100%;
  height: 104px;
  background-color: #0D4C92;
  display: flex; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  margin-left: 10px;
  margin-top: 5px;
}

.navig {
  display: grid;
  grid-template-columns: 30% 30% 30% 30% 30%;
  text-align: center;
  margin-top: 15px;
  margin-left: 25px;
}

.navbutt {
  font-size: 20px;
  color: white;
  height: 25px;
  width: 130px;
}

.navbutt:hover {
  cursor: pointer;
  color: rgb(239, 255, 167);
}

.search {
  margin-left: 300px;
  margin-top: 25px;
}

/* center of screen */

.centerpg {
  display: flex;
  background-image: url("/schoolwebsite/photos/PagetSchool-27\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95em;
  height: 38em;
  margin-left: -10px;
  margin-top: 94px;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.logoname {
  color: white;
  text-align: center;
  font-size: 100px;
  float:left;
  margin: 0;
  padding: 0;
  margin-left: 350px;
  margin-top: 180px;
}

.news {
  height: 50px;
  width: 200px;
  position:absolute;
  top: 400px;
  left: 700px;
  background-color: #0056C6;
  border: none;
  border-radius: 30px;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color: white;
}

.news:hover {
  cursor: pointer;
  background-color: #0600ab;
  color:wheat;
}

/* Testimonial */

.welcome {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.headt {
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  margin: 20px;
}

.headtphoto {
  margin-left: 60px;
  margin-top: 30px;
  position: relative;
}

.messageb {
  font-size: 24px;
  position: relative;
  margin-right: 60px;
  float:right;
  width: 1040px;
  margin-top: 20px;
}

/* Footer */

footer {
  background-color: #710193;
  height: 426px;
  width: 100%;
  display: flex; 
  position:absolute;
  left: 0;
  margin-top: 70px;
  color:white;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.easycontact {
  display: grid;
  grid-template-columns: 10% 100%;
  margin-left: 50px;
  margin-top: 50px;
}

h3 {
  height: 40px;
  margin-top: 15px;
  width: auto;
}

h3:hover {
  cursor: pointer;
}

.map {
  height: 342px;
  width: 477px;
  margin-left: 325px;
  margin-top: 50px;
}