header {
    margin-left: -110px;
}

body {
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    height: 70%;
    width: 100%;
    overflow: hidden;
}