body {
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
}
