* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
body {
    background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 85%);
}

/* box thingy */

.mainbox {
    width: 1500px;
    display: flex;
    height: 850px;
    background-color: rgba(44, 62, 80, 1);
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* welcome page box */
.welcomesec {
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.sphere {
    height: 120px;
    width: 120px;
    border-radius: 80px;
    box-shadow: 1px 1px 30px;
}

.text {
    font-size: 50px;
    margin: 22px;
    color: white;
    text-shadow: 1px 1px 30px black;

}

.profile {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

/* random links si info */
.description {
    width: 600px;
    height: 200px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px;
}

.randomlink1 {
    margin: 50px 0px 0px 0px;
    width: 600px;
    height: 300px;
    background-color: darkcyan;
    display: flex;
    border-radius: 30px;
    box-shadow: 1px 1px 20px;
}

.worksection {
    width:65%;
    height: 100%;
}

/* work object itself */
.workobject {
    width: 200px;
    height: 200px;
    background-color: rgb(8, 84, 84);
    cursor: pointer;
    transition: transform 3s;
    border-radius: 30px;
    box-shadow: 1px 1px 10px;
    transition: box-shadow 3s;
    
}
.workobject:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 30px;
}

.workobject1 {
    width: 200px;
    height: 200px;
    background-color: rgb(8, 84, 84);
    border-radius: 30px;
    box-shadow: 1px 1px 10px;
}

ul {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 150px); 
    grid-gap: 100px;
    margin: 20px 0px 0px -20px;
    list-style-type: none;
}

.workicon {
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto auto -40px auto;
}
.lowerbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.693);
    color: white;
    font-size: 27px;
    text-align: center;
    height: 20%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 3; 
    Position: relative;
}

.glasslike {
    background: rgba(255, 255, 255, 0);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: -200px;
    display: block;
}
