/* scroll */
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #B2731E;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a3a0f;
}

/* start */

html, body {
    font-family: "Itim", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0;
}

body {
    background-color: #F5E1C0;
}
/* start */
nav {
    margin-left: -15px;
}
.navig {
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: 10% 13% 20%;
}

.logomic {
    width: 125px;
    height: 125px;
}

.Butonnav {
    font-size: 32px;
    color: #5F4B4B;
}

a {
    text-decoration: none;
    color: black;
}

.Butonnav:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* produs principal */

.mainbox {
    width: 1100px;
    height: 650px;
    background-color: #FFF8E7;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 50px;
    display: flex;
}

.imagini {
    display: flex;
    flex-direction: column;
    width: 530px;
}

.imagineprin {
    width: 500px;
    height: 450px;
    position:relative;
    float: left;
    background-color: black;
    margin: 30px;
    border-radius: 20px;
}

.imaginimici {
    display: grid;
    grid-template-columns:32% 32% 32%;
    margin: -15px 0px 0px 65px;
}

.imaginemica {
    width: 140px;
    height: 130px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    filter: grayscale(100%);
}

.imaginemica:hover {
    filter: grayscale(0%);
}

.infoscris {
    text-align: center;
}

.titlu {
    font-size: 70px;
    margin-bottom: 0;
}

.stock {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.infoscris {
    display: flex;
    margin-top: -650px;
    margin-right: 100px;
    text-align: center;
}

.descirere {
    font-size: 20px;
    padding: 10px;
}

.buyman {
    background-color: #C1E1C1;
    border: none;
    border-radius: 69px;
    font-family: "Itim", serif;
    font-size: 28px;
    width: 276px;
    height: 57px;
    display: block; 
    margin: 20px auto; 
    text-align: center; 
}
.buyman:hover {
    cursor: pointer;
    background-color: #9ab19a;
    color: rgb(232, 255, 173);
}

.left {
    width: 50%;
    height: 100%;
}
.right {
    width: 50%;
    height: 100%;
}

.infobox {
    background-color: #FAD4D8;
    height: 300px;
    width: 450px;
    margin: auto;
    border-radius: 20px;
}

/* linie despartire */ 
.liniedespartire {
    margin-top: 50px;
    margin-bottom: 50px;
}
h2 {
    display: flex;
    flex-direction: row;
    font-size: 44px;
}

h2:before,
h2:after {
    content: "";
    flex: 1;
    border-bottom: 1.6px solid #000;
    margin: auto;
    padding: 5px;
}

/* recomandari */
.recomandari {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0;
    margin-top: 50px;
    margin-bottom: 40px;
}
.produs {
    width: 310px;
    height: 426px;
    background-color: #FBC02D;
    display: flexbox;
    text-align: center;
    margin: auto 50px 50px;
    border-radius: 30px;
    color: black;
    transition: box-shadow 0.2s ease-in-out;
}
.produs:hover {
    box-shadow: 5px 5px 50px #000;
}

.imagineprodus {
    width: 275.74px;
    height: 253.79px;
    background-color: #D9D9D9;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.numeprodus {
    font-size: 36px;
    margin: 15px;
}

.maimultinfo {
    background-color: #C1E1C1;
    border: none;
    border-radius: 69px;
    font-family: "Itim", serif;
    font-size: 28px;
    width: 276px;
    height: 57px;
    display: block;
    margin: auto;
}
.maimultinfo:hover {
    cursor: pointer;
    background-color: #9ab19a;
    color: rgb(232, 255, 173);
}

.nuavem {
    font-size: 100px;
    margin: 125px;
}

/* menu on mobile */
.menu {
    background-color: #ffb700;
    height: 200px;
    width: 100%;
    display: none;
    margin-top: -20px;
    transition: all .25s linear; 
    -o-transition: all .25s linear; 
    -moz-transition: all .25s linear; 
    -webkit-transition: all .25s linear; 
}
#menu-but {
    display: none;
}
#close {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
/* small devices and small tablets */
@media only screen and (min-width: 0px) and (max-width: 1200px) {
    .navig {
        display: none;
    }
    .menu {
        display: none;
    }
    #menu-but {
        display: block;
    }
    .logomic {
        margin-left: 30px;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }
    .menu .logomic {
        display: flex;
        margin: auto;
        cursor: default;
    }
    hr {
        background-color: #000;
        border: 1px solid black;
    }
    .navmob {
        text-decoration: none;
        list-style: none;
        margin-left: -30px;
        text-align: center;
    }
    /* continuare cod */
    .mainbox {
        width: 100%;
        display: block;
        height: 1130px;
        margin-top: 40px;
    }
    .imagini {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .imagineprin {
        margin: auto;
        width: 90vw;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    .left,.right {
        width: 100%;
        padding-top: 30px;
        height: 40%;
    }

    .imaginimici {
        margin: 10px 0 0 0;
        grid-template-columns: 34% 34% 34%;
    }

    .infobox {
        width: 100%;
        height: 330px;
    }
    .descirere {
        font-size: clamp(18px, 4.22vw, 28px);
        display: flex;
    }
}

/* font fix */
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .Butonnav, .Butonnav1 {
        font-size: 29px;
    }
    .aboutusinfo {
        width: 100%;
    }
}