* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", serif;
    font-weight: 400;
    font-style: normal;
}

.navig {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    margin-top: 20px;
    list-style-type: none;
}

.logo {
    font-size: 60px;
    text-decoration: none;
}

.Butonnav {
    color: #704814;
    margin-left: 35px;
    margin-top: 25px;
    font-size: 30px;
}
.Butonnav:hover {
    cursor: pointer;
    color: #e49733;
}

/* produs pagina */

.produsprincipal {
    width: 1140px;
    height: 798px;
    background-color: #D9D9D9;
    display:block;
    text-align: center;
    margin: auto;
    border-radius: 60px;
    margin-top: 20px;
    flex-shrink: 2;
}

.imagineprodus {
    display: flex;
    width: 540px;
    height: 700px;
    background-color: #000000;
    border-radius: 60px;
    float: left;
    margin: auto;
    margin-top: 50px;
    margin-left: 30px;
}

.numeprodus {
    font-size: 60px;
    justify-content: center;
    padding-top: 100px;
}

.stockdis {
    font-size: 30px;
    margin: 15px;
}

.cumparabuton {
    background-color: #469e17;
    color: white;
    border: none;
    border-radius: 60px;
    font-size: 28px;
    width: 350px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.cumparabuton:hover {
    background-color: #26560d;
    color: wheat;
    cursor: pointer;
}

.descriereprodus {
    width: 540px;
    height: 400px;
    background-color: #777777;
    float: right;
    border-radius: 60px;
    margin: auto;
    margin-right: 15px;
    margin-top: 50px;
}

.descriere {
    color: white;
    font-size: 20px;
    width: 500px;
    margin: auto;
    margin-top: 20px;
}

/* diviziune recomandarile noastre */
.liniedespartire {
    margin-top: 50px;
    margin-bottom: -50px;
}
h2 {
    display: flex;
    flex-direction: row;
    font-size: 44px;
}

h2:before,
h2:after {
    content: "";
    flex: 1;
    border-bottom: 1.6px solid #000;
    margin: auto;
    padding: 5px;
}

/* recomandari */
.recomandari {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0;
    margin-top: 50px;
}

.produs {
    width: 310px;
    height: 426px;
    background-color: #556B2F;
    display: flexbox;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border-radius: 60px;
    color: white;
    transition: box-shadow 0.2s ease-in-out;
}
.produs:hover {
    box-shadow: 5px 5px 50px #000;
}

.imagineprodus2 {
    width: 275.74px;
    height: 253.79px;
    background-color: #D9D9D9;
    margin: auto;
    border-radius: 40px;
    margin-top: 20px;
}

.numeprodus2 {
    font-size: 36px;
    margin: 15px;
}

.maimultinfo {
    background-color: #2E4A1F;
    color: white;
    border: none;
    border-radius: 69px;
    font-family: "Itim", serif;
    font-size: 28px;
    width: 276px;
    height: 57px;
    display: block;
    margin: auto;
}
.maimultinfo:hover {
    cursor: pointer;
    background-color: #1c2b15;
    color: rgb(232, 255, 173);
}

/* footer */

footer {
    background-color: #381307;
    height: 175px;
    margin-top: 100px;
    color: white;
}