@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Mako&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Mako", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* transition */

div, section, p, ul, li, h3, body, h1, a, footer, header, img, button {
    transition: all .25s linear; 
    -o-transition: all .25s linear; 
    -moz-transition: all .25s linear; 
    -webkit-transition: all .25s linear; 
}

.backgrounddark {
    background-color: #0A0A0A !important;
    color: #f5f5f5;
}

.textdark {
    color: #f5f5f5 !important;
}

.borderdark {
    border-color: #303030 !important;
}

.foregrounddark {
    background-color: #1A1A1A !important;
}

.buttondark {
    background-color: #303030 !important;
}
.buttondark:hover {
    background-color: #272121 !important;
}

html, body {
    height: 100%;
    text-align: center;
    overflow: auto;
    background-color: #f5f5f5;
}

.kavoon-regular {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 50px;
    margin-top: 120px;
}

.question {
    background-image: url("/pcclinicwebpage/resources/images/faq.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

    width: 70%;
    height: 80%;
    margin: auto;
}

.moon {
    background-image: url("/pcclinicwebpage/resources/images/moon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

}

.sun {
    background-image: url("/pcclinicwebpage/resources/images/sun.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

}
  
/* start of everything*/

/* head mobile*/
header {
    height: 100px;
    width: 100%;
    background-color: #003366;

    position: fixed;
    z-index: 9999;
}

header img {
    float: left;
    width: 85px;
    height: 75px;

    margin: 10px;
    cursor: pointer;
}

header .menu {
    width: 65px;
    height: 50px;

    float:right;
    margin: 20px;

    position: relative;
    z-index: 9999;
}

/* menu mobile */
.backgroundb {
    background-color: rgba(0, 0, 0, 0.607);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;

    z-index: 9997;
    
}

.sidebar {
    width: 75%;
    min-width: 260px;
    max-width: 490px;

    height: 100%;
    background-color: #003366;

    position: fixed;
    right: 0;
    display: none;

    z-index: 9998;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


.sidebar img {
    all: unset;
    width: 80%;
    margin-top: 50px;
}

.button {
    background-color: #1E90FF;
    color: white;

    border: none;
    border-radius: 15px;

    font-family: "Itim", serif;
    font-size: clamp(30px, 10vw, 50px);

    min-width: 235px;
    max-width: 580px;
    width: 84%;

    height: 5vh;
    min-height: 50px;
    max-height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    font-family: 'Mako';
}

.button:hover {
    cursor: pointer;
    background-color: #115ba5;
    color:rgb(254, 236, 201);
}

.sidebar ul li {
    margin: 50px 0;
}

.buttonsmall {
    background-color: #1E90FF;
    color: white;

    border: none;
    border-radius: 15px;

    font-family: "Itim", serif;
    font-size: clamp(30px, 10vw, 60px);

    min-width: 60px;
    max-width: 60px;
    width: 15vw;

    height: 5vh;
    min-height: 50px;
    max-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.pos {
    display: flex; 
    flex-direction: row; 
    list-style-type: none; 
    justify-content: space-between;

    width: 80%;
    min-width: 225px;
    max-width: 650px;
    margin: auto;
}

.pos li {
    margin: auto;
}


/* main section */
.mainsection {
    width: 100%;
}

/* foot mobile*/
footer {
    height: fit-content;
    padding-bottom: 30px;
    width: 100%;

    background-color: #003366;
    margin-top: 80px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}

/* Contact Item */
.contact-item {
    margin: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    color: white;
}

.contact-item a {
    color: white;
    font-size: clamp(22px, 5vw, 40px);
    text-align: left;
}
.contact-item .contactimg {
    margin-right: 25px;
    width: 80px;
    height: 80px;
}

span:hover, a:hover {
    cursor: pointer;
    color: rgb(141, 141, 141);
}

a {
    text-decoration: none;
    color: black;
}
/* Social Icons */
.social-icons {
    display: flex;
    justify-content: space-evenly;
}

.social-icons .socialic {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons .socialic:hover {
    transform: scale(1.2);
}

.icon {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
}

.dispb {
    display: block !important;
}

.navbar {
    display: none;
}
/* start of media query */
@media only screen and (min-height: 400px) and (min-width: 320px) {
    /* menu fixes */
    .sidebar .pos li {
        margin: 0;
    }
    .sidebar .pos {
        margin:auto;
    }
    .sidebar ul li {
        margin: 30px auto;
    }
    
    .sidebar img {
        width: 60%;
        margin-top: 70px;
    }
    footer {
        flex-direction: column;
    }
    .lefthandside {
        width: 100%;
    }
    .righthandside {
        width: 100%;
    }
    .map {
        margin: auto;
        float: unset;
        margin-top: 40px;
        min-width: 300px;
        width: 90%;

        border-radius: 20px;
    }
    .kavoon-regular {
        font-size: clamp(35px, 5vw, 40px);
    }
}

@media only screen and (min-width: 500px) {

    .sidebar .pos {
        margin-top: 7.5vh;
    }
    .sidebar ul li {
        margin: 25px auto;
    }
    
    .sidebar img {
        width: 60%;
        margin-top: 70px;
    }

    /* buttons */ 
    .buttonsmall {
        min-height: 60px;
        max-height: 60px;

        min-width: 70px;
        max-width: 70px;
    }
    .button {
        min-width: 225px;
        max-width: 550px;

        min-height: 65px;
        max-height: 70px;
    }

}

@media only screen and (min-width: 600px) {
    header {
        height: 100px;
    }
    header img {
        width: 95px;
        height: 75px;
    }
    header .menu {
        width: 75px;
        height: 60px;
    }
    .kavoon-regular {
        margin-top: 140px;
    }
    /* Navbar */
    .sidebar img {
        width: 55%;
        margin-top: 100px;
    }
    .sidebar ul {
        margin-top: 80px;
    }
    .buttonsmall {
        min-height: 70px;
        max-height: 70px;
        min-width: 80px;
        max-width: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .kavoon-regular {
        margin-top: 160px;
        font-size: 70px;
    }
    .menu {
        display: none;
    }

    .navbar {
        height: 100%;
        display: flex;
    }
    .navbar ul {
        width: fit-content;
        margin: auto auto auto 0;
        display: flex;
        flex-direction: row;
        float: left;
    }

    .navbar ul li {
        margin: 30px;
        cursor: pointer;
    }
    .navbar ul li a:hover {
        color: rgb(245, 192, 192);
    }
    .navbar .pos li {
        margin: auto;
    }
    .navbar .buttonsmall {
        background-color: #0d4e90;
    }
    .navbar .buttonsmall:hover {
        background-color: #2f567e;
    }
    .navbar ul li a {
        color: #f5f5f5;
        font-size: 30px;    
    }
    .navbar .pos {
        float: right;
        display: flex;
        margin: auto 0 auto auto;
    }
    header img {
        width: 90px;
    }
    
    .lefthandside {
        width: 50%;
        height: 450px;
    }

    .righthandside {
        width: 50%;
        height: 450px;
    }

    .map {
        width: 70%;
        max-width: 800px;

        height: 90%;
        max-height: 450px;
        
        border: 0px;
        display: flex;

        border-radius: 20px;  
        float: right;  

        justify-content: center;
        margin: 40px 30px auto auto;
    }

    footer {
        flex-direction: row;
    }
}

