* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

/* navigation bar */
.navbarr {
    height: 100px;
    width: 100%;

    background-color: #0D4C92;
    display: flex;

    font-family: "Kavoon";
    font-weight: 400;
    font-style: normal;

    position:absolute;
    z-index: 1;
}
.navbar-brand {
    margin: 3px 0px 0px 8px;
}
.logo {
    float: left;
    width: 140px;
    height: 90px;
    
}
.navigationtext {
    width: fit-content;
    height: 100%;
    display: flex;

    padding-left: 40px;
    justify-content: center;
}
.navigationtext ul {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    align-content: center;

    list-style-type: none;
    font-size: 25px;   
}
.navigationtext li {
    margin: 0 110px 0 0;
}
.navigationtext li a img {
    padding-top: 5px;
    position: absolute;
}

.search-container {
    position: relative;
    width: fit-content;

    height: 100%;
    display: flex;

    justify-content: center;
}
.search-form {
    margin: auto;
}
.search-input {
    width: 330px;
    padding: 10px 40px 10px 15px;

    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: 16px;
    outline: none;
}
.searchicon {
    position: absolute;
    margin: 6px 0 0 -35px;

    cursor: pointer;
}

/* landing page */
.landingpage {
    background-image: url(/schoolwebsite/images/background.png);
    background-repeat: no-repeat;

    background-size:cover;
    height: 100vh;

    width: 100%;
}

.lefthandside {
    background-image: url(/schoolwebsite/images/form.svg);
    background-repeat: no-repeat;

    width: 50%;
    height: 100%;

    filter: none;
}
.overlay {
    position: absolute;
    top: 55%;

    left: 19%;
    transform: translate(-50%, -50%);

    color: white;
    font-weight: bold;

    text-align: center;
    font-family: "Kavoon";
}
.pagetname {
    font-size: 90px;
    color: white;

    position: relative;
}
.explorebutt {
    background-color: #0D4C92;
    color: white;

    border: none;
    border-radius: 40px;

    font-size: 35px;
    font-family: "Kavoon";

    width: 250px;
    height: 55px;

    display: block;
    margin: 15px auto;
}
.explorebutt:hover {
    cursor: pointer;
    background-color: #012145;

    color:rgb(232, 230, 255);
}

/* testimonial */
.testimonial {
    width: 100%;
    height: 83%;

    position: relative;
    background-color: rgb(255, 255, 255);
}
.head {
    font-size: 70px;
    text-align: center;

    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
    
    margin: 50px 0 0 0;
}
.content {
    margin: 30px auto auto 50px;
    display: flex;
}
.description {
    font-size: 24px;
    margin: auto 50px auto 30px;

    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}

/* footer */
footer {
    width: 100%;
    height: 80%;
    background-color: #5B0E8C;
    margin: 50px 0 0 0;
}