* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
}

table {
    border: 1px solid rgb(255, 0, 0);
    padding: 2px;
    font-size: 60px;
}

th {
    border: 2px solid rgb(55, 255, 255);
}

td {
    padding: 5px;
    border: 1px solid rgb(0, 0, 255);
}

.helo {
    font-size: 125px;
    font-weight: 500;
    font-style:italic;
}

/* start of everything */
section {
    margin-top: 120px;
}
.cartab {
    text-align: center;
}